@media (max-width: 414px) {
  .container {
    max-width: 414px;
  }

  .card {
    width: 370px;

    &-img {
      width: 100%;
    }

    &-title {
      font-size: 2.6rem;
    }

    &-badge {
      left: 16px;
      width: 4rem;
      height: 1.5rem;
      font-size: 13px;
    }
  }

  .active {
    width: 370px;
    height: 210px;
  }

  .not-active {
    width: 369.5px;
    height: 209px;
  }

  .workout {
    &-counter {
      top: 90px;
      left: 120px;
      margin: 0;
      font-size: 250px;
    }

    &-go {
      top: 90px;
      margin-left: 17px;
      font-size: 220px;
    }
  }

  .timer {
    height: 85px;
    width: 85px;
  }

  .timer.final-mask {
    height: 85px;
    width: 85px;
  }
  .score {
    height: 5.25rem;
    width: 8.1rem;
    border-radius: 17px;
    top: -32px;
    left: 10px;

    span {
      font-size: 4.75rem;
    }
  }

  .workout {
    &-counter {
      top: 80px;
      left: 140px;
      margin: 0;
    }

    &-go {
      top: 80px;
      margin-left: 30px;
    }
  }

  .bar {
    &-1 {
      left: 15px;
    }

    &-2 {
      left: 48px;
    }

    &-3 {
      left: 83px;
    }

    &-4 {
      left: 118px;
    }

    &-5 {
      left: 153px;
    }

    &-6 {
      left: 188px;
    }

    &-7 {
      left: 223px;
    }

    &-8 {
      left: 258px;
    }

    &-9 {
      left: 293px;
    }

    &-10 {
      left: 328px;
    }

    &-11 {
      left: 363px;
    }

    &-12 {
      left: 398px;
    }
  }
}

@media (max-width: 411px) {
  .workout {
    &-counter {
      top: 80px;
      left: 140px;
      margin: 0;
    }

    &-counter {
      top: 140px;
      left: 145px;
      font-size: 230px;
    }

    &-go {
      top: 140px;
      margin-left: 30px;
      font-size: 220px;
    }
  }

  .bar {
    &-1 {
      left: 15px;
    }

    &-2 {
      left: 47px;
    }

    &-3 {
      left: 79px;
    }

    &-4 {
      left: 111px;
    }

    &-5 {
      left: 143px;
    }

    &-6 {
      left: 175px;
    }

    &-7 {
      left: 207px;
    }

    &-8 {
      left: 239px;
    }

    &-9 {
      left: 271px;
    }

    &-10 {
      left: 303px;
    }

    &-11 {
      left: 335px;
    }

    &-12 {
      left: 367px;
    }
  }
}

@media (max-width: 375px) {
  .container {
    max-width: 375px;
  }

  .card {
    width: 90%;

    &-title {
      top: 2.8rem;
      left: 1rem;
      font-size: 2.4rem;
    }

    &-badge {
      width: 3.5rem;
      font-size: 12px;
      height: 1.4rem;
      top: 13px;
      left: 11px;
      padding: 4px;
    }
  }

  .active {
    width: 21.63rem;
    height: 12.3rem;
  }

  .not-active {
    width: 21.1rem;
    height: 12rem;
  }

  .workout {
    &-counter {
      top: 100px;
      left: 130px;
      margin: 0;
      font-size: 250px;
    }

    &-go {
      top: 100px;
      margin-left: 20px;
      font-size: 220px;
    }
  }

  .pie-timer {
    top: -32px;
    right: 6px;
  }

  .timer {
    height: 85px;
    width: 85px;
  }

  .timer.final-mask {
    height: 85px;
    width: 85px;
  }

  .score {
    height: 5.25rem;
    width: 8.1rem;
    border-radius: 17px;
    top: -32px;
    left: 10px;

    span {
      margin: 10px auto;
      font-size: 4.75rem;
    }
  }

  .bar {
    &-1 {
      left: 20px;
    }

    &-2 {
      left: 50px;
    }

    &-3 {
      left: 80px;
    }

    &-4 {
      left: 110px;
    }

    &-5 {
      left: 140px;
    }

    &-6 {
      left: 170px;
    }

    &-7 {
      left: 200px;
    }

    &-8 {
      left: 230px;
    }

    &-9 {
      left: 260px;
    }

    &-10 {
      left: 290px;
    }

    &-11 {
      left: 320px;
    }

    &-12 {
      left: 350px;
    }
  }
}

@media (max-width: 360px) {
  .workout {
    &-counter {
      top: 120px;
      left: 130px;
      margin: 0;
      font-size: 200px;
    }

    &-go {
      top: 120px;
      margin-left: 30px;
      font-size: 190px;
    }
  }

  .active {
    width: 328px;
    height: 186px;
  }

  .not-active {
    width: 325px;
    height: 183.5px;
  }

  .bar {
    &-1 {
      left: 10px;
    }

    &-2 {
      left: 40px;
    }

    &-3 {
      left: 70px;
    }

    &-4 {
      left: 100px;
    }

    &-5 {
      left: 130px;
    }

    &-6 {
      left: 160px;
    }

    &-7 {
      left: 190px;
    }

    &-8 {
      left: 220px;
    }

    &-9 {
      left: 250px;
    }

    &-10 {
      left: 280px;
    }

    &-11 {
      left: 310px;
    }

    &-12 {
      left: 340px;
    }
  }
}

@media (max-width: 320px) {
  .container {
    max-width: 320px;
  }

  .card {
    width: 280px;

    &-img {
      width: 100%;
    }

    &-title {
      top: 2.2rem;
      font-size: 2rem;
    }

    &-badge {
      width: 3.1rem;
      height: 1.2rem;
      font-size: 10px;
      top: 13px;
      left: 11px;
      padding: 3px;
    }
  }

  .active {
    width: 280px;
    height: 10rem;
  }

  .not-active {
    width: 280px;
    height: 9.9rem;
  }

  .workout {
    &-counter {
      top: 90px;
      left: 120px;
      margin: 0;
      font-size: 180px;
    }

    &-go {
      top: 90px;
      margin-left: 17px;
      font-size: 180px;
    }
  }

  .timer {
    height: 73px;
    width: 73px;
  }

  .timer.final-mask {
    height: 73px;
    width: 73px;
  }

  .score {
    height: 4.3rem;
    width: 8.1rem;
    border-radius: 17px;
    top: -32px;
    left: 10px;

    span {
      margin: 10px auto;
      font-size: 4.75rem;
    }
  }

  .bars {
    height: 70px;
    transform: translateY(10px);
    -webkit-box-shadow: 0px -40px 40px 40px $pitch-black-color;
    box-shadow: 0px -40px 40px 40px $pitch-black-color;
  }
}
