@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

@import 'config';
@import 'buttons';

// general styles
@font-face {
  font-family: 'GilroyLight';
  src: local('GilroyLight'),
    url(../fonts/Gilroy/Gilroy-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'GilroyRegular';
  src: local('GilroyRegular'),
    url(../fonts/Gilroy/Gilroy-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'GilroyMedium';
  src: local('GilroyMedium'),
    url(../fonts/Gilroy/Gilroy-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'GilroyBold';
  src: local('GilroyBold'),
    url(../fonts/Gilroy/Gilroy-Bold.ttf) format('truetype');
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'GilroyBold', sans-serif;
  background: $dark-color;
  color: $white-color;
  text-align: center;
}

header {
  text-align: center;
}

.logo {
  margin-top: 0.8rem;
  width: 5.8rem;
}

h2 {
  font-weight: 800;
}

.container {
  margin: 1.2rem auto 0;
  max-width: 375px;
  text-align: center;
}

.cards-container {
  margin-top: 2rem;
}

.card {
  width: 90%;
  position: relative;
  border-radius: 10px;
  margin: auto;
  margin-bottom: 1rem;

  h1 {
    position: absolute;
    top: 2.8rem;
    left: 1rem;
    font-size: 2.4rem;
  }

  &-badge {
    width: 3.5rem;
    font-family: 'GilroyLight', sans-serif;
    font-size: 12px;
    height: 1.4rem;
    position: absolute;
    top: 13px;
    left: 11px;
    background: $black-color;
    border-radius: 15px;
    padding: 4px;
  }
}

.active {
  width: 21.63rem;
  height: 12.21rem;
  border-radius: 10px;
  border: 0.4px solid transparent;
  background: linear-gradient(to left, $light-yellow-color, $light-green-color);
}

.not-active {
  position: absolute;
  width: 21.45rem;
  height: 12.1rem;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  border-radius: 10px;
}

footer {
  height: 45px;

  p {
    font-family: 'GilroyBold', sans-serif;
    font-size: 10px;
    text-transform: capitalize;
  }

  .footer-line {
    border-top: 1px dotted $white-color;
    width: 6rem;
    margin: 5px auto 0;
  }
}

.loader {
  height: 70vh;

  &-img {
    width: 125px;
    margin: 150px auto 0;
    display: block;
  }
}

.workout {
  height: 85vh;

  &-container {
    position: relative;
  }

  &-videoFeed {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 1;
  }

  &-counter {
    position: absolute;
    display: inline-block;
    text-align: center;
    top: 180px;
    left: 130px;
    margin: 0;
    font-size: 250px;
    z-index: 2;
    text-shadow: 2px 2px 14px $black-color;
  }

  &-go {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    top: 180px;
    margin-left: 18px;
    font-size: 220px;
    z-index: 2;
    text-shadow: 2px 2px 14px $black-color;
  }
}

.pie-timer {
  position: absolute;
  top: -19px;
  right: 20px;
  z-index: 2;
}

.timer {
  position: relative;
  height: 85px;
  width: 85px;
  background: $gray-color;
  border-radius: 50%;
  margin: auto;
  border: 10px solid $pitch-black-color;
}

.rotator {
  position: absolute;
  height: 100%;
  width: 50%;
  background: $pitch-black-color;
  border-radius: 42.5px 0 0 42.5px;
  transform-origin: 100% 50%;
  transition: transform 1s linear;
  z-index: 1;
}

.mask {
  position: absolute;
  height: 100%;
  width: 50%;
  background: $gray-color;
  border-radius: 42.5px 0 0 42.5px;
  z-index: 1;
}

.mask.second-mask {
  background: $pitch-black-color;
  border-radius: 0 42.5px 42.5px 0;
  right: 0;
}

.light-mask {
  position: absolute;
  height: 100%;
  width: 100%;
  background: $gray-color;
  border-radius: 50% !important;
  z-index: 100;
}

.timer.final-mask {
  position: relative;
  height: 85px;
  width: 85px;
  background: $pitch-black-color;
  border-radius: 50%;
  margin: auto;
  border: none;
}
